[defaults]
inventory = hosts.ini
host_key_checking = False

become_user = ansibledevops
remote_user = ansibledevops

retry_files_enabled = False
forks = 10
timeout = 30

[privilege_escalation]
become=True

[ssh_connection]
pipelining=True